* {
    margin: 0;
}

body {
    background-color: #FFFBF7;
}

li {
    display: inline;
    margin: 0px 25px;
}

.header {
    /* margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px; */
    /* Reto 2: Poner el margin de arriba en una sola linea */
    margin: 40px 20px 0px 20px;
    line-height: 45px;
    font-size: 0;
    height: 45px;
}

.fixed-header {
    position: fixed;
    background-color: blanchedalmond;
    top: 0;
    left: 0;
    right: 0;
}

.header>* {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
    font-family: sans-serif;
}

.logo {
    width: 15%;
}

.navbar {
    width: 70%;
    color: #025157;
    text-align: left;
}

.actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
}

.actions>* {
    margin: 0 10px;
}

.actions a {
    color: #67b54b;
}

.actions button {
    background-color: #67b54b;
    color: white;
    padding: 14px 12px;
    border: none;
    border-radius: 5px;
}

.navbar>* {
    font-family: sans-serif;
}

h1 {
    /* color: blueviolet; */
}

h2 {
    color: #46484c;
}

p {
    color: #8b8b8bcc;
}

.btn {
    background-color: #025157;
    background-image: url();
    border: none;
    color: #fff;
    height: 30px;
    border-radius: 5px;
}

.publicitario {
    display: flex;
    justify-content: center;
}

.video {
    width: 50%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-video {
    width: 30%;
    height: 50px;
}

.texto {
    width: 50%;
    padding: 16px;
}

#titulo-publicitario {
    color: #025157;
    font-family: sans-serif;
    font-size: 32px;
}

#texto-publicitario {
    color: #343434;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 32px;
}

.input {
    height: 42px;
    border: 1px solid #8b8b8bcc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0px 0px 0px 8px
}

.btn-form {
    background-color: #025157;
    background-image: url();
    color: #fff;
    border: none;
    height: 44px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
}

.section-postwork {
    background-color: #a1d683;
    display: flex;
    height: 90vh;
    width: 99vw;
}
.text-img{
    width: 70%;
}

.text-div{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50%;
}

.text-container{
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
    margin-left: 150px;
    width: 90%;
}

.text-container h1{
    color: #025157;
    margin: 16px;
    font-size: 42px;
    font-family: sans-serif;

}

.text-container p{
    color: black;
    margin: 16px;
    font-size: 18px;
}

.card-div{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50%;
}

.card{
    background-color: #FFFBF7;
    border-radius: 10px;
    width: 30%;
}

.card-img{
    width: 100%;
    height: 300px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card-body{
    margin: 20px 5px;
    text-align: left;
    font-family: sans-serif;
    padding: 16px;
    color: black;
}

.card-body p{
    margin-top: 24px;
}

.card-footer{
    text-align: center;
    margin: 20px 5px;
}

.btn-card{
    background-color:#025157;
    border-radius: 5px;
    border: none;
    color: #FFFBF7;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 16px;
    height: 40px;
    width: 200px;
    
}

.card-everly{
    position: absolute;
    background-image: url(https://getmatcha.com/wp-content/uploads/2019/05/everly_logo_blue_v3_x60@2x.png);
    background-color: #f9da73;
    border-radius: 50%;
    background-size: 80px;
    background-position: 50%;
    background-repeat: no-repeat;
    bottom: -200px;
    right: 350px;
    /* bottom: 450px;
    left: 170px; */
    height: 100px;
    width: 100px;
}
