* {
    margin: 0;
}

body {
    background-color: #FFFBF7;
}

li {
    display: inline;
    margin: 0px 25px;
}

.header {
    /* margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px; */
    /* Reto 2: Poner el margin de arriba en una sola linea */
    margin: 40px 20px 0px 20px;
    line-height: 45px;
    font-size: 0;
    height: 45px;
}

.fixed-header {
    position: fixed;
    background-color: blanchedalmond;
    top: 0;
    left: 0;
    right: 0;
}

.header>* {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
    font-family: sans-serif;
}

.logo {
    width: 15%;
}

.navbar {
    width: 70%;
    color: #025157;
    text-align: left;
}

.actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
}

.actions>* {
    margin: 0 10px;
}

.actions a {
    color: #67b54b;
}

.actions button {
    background-color: #67b54b;
    color: white;
    padding: 14px 12px;
    border: none;
    border-radius: 5px;
}

.navbar > * {
    font-family: sans-serif;
}

.form1 > form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form1 > form > div {
    margin-top: 10px;
    height: 50px;
}

.form1 > form > div > input{
    width: 100%;
}

.titulos{
    text-align: center;
    font-size: 60px;
    margin-top: 70px;
}

h1 {
    /* color: blueviolet; */
    
}

h2 {
    color: #46484c;
    text-align: center;
}

p {
    color: #8b8b8bcc;
}

.btn {
    background-color: #025157;
    background-image: url();
    border: none;
    color: #fff;
    height: 30px;
    border-radius: 5px;
}

.publicitario {
    display: flex;
    justify-content: center;
}

.video {
    width: 50%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-video {
    width: 30%;
    height: 50px;
}

.texto {
    width: 50%;
    padding: 16px;
}

#titulo-publicitario {
    color: #025157;
    font-family: sans-serif;
    font-size: 32px;
}

#texto-publicitario {
    color: #343434;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 32px;
}

.input {
    height: 42px;
    border: 1px solid #8b8b8bcc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0px 0px 0px 8px
}

.btn-form {
    background-color: #025157;
    background-image: url();
    color: #fff;
    border: none;
    height: 44px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
}

.section-postwork {
    background-color: #a1d683;
    display: flex;
}

.text-img {
    width: 70%;
}

.text-div {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50%;
}

.text-container {
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
    margin-left: 150px;
    width: 90%;
}

.text-container h1 {
    color: #025157;
    margin: 16px;
    font-size: 42px;
    font-family: sans-serif;
}

.text-container p {
    color: black;
    margin: 16px;
    font-size: 18px;
}

.card-div {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50%;
}

.card {
    background-color: #FFFBF7;
    border-radius: 10px;
    width: 30%;
}

.card-img {
    width: 100%;
    height: 300px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card-body {
    margin: 20px 5px;
    text-align: left;
    font-family: sans-serif;
    padding: 16px;
    color: black;
}

.card-body p {
    margin-top: 24px;
}

.card-footer {
    text-align: center;
    margin: 20px 5px;
}

.btn-card {
    background-color: #025157;
    border-radius: 5px;
    border: none;
    color: #FFFBF7;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 16px;
    height: 40px;
    width: 200px;
}

.img-containers{
    position: relative;
}

.img-containers .card-everly {
    /* background-image: url(https://getmatcha.com/wp-content/uploads/2019/05/everly_logo_blue_v3_x60@2x.png); */
    background-color: #f9da73;
    border-radius: 50%;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -40px;
    left: 150px;
}

.card-everly img{
    max-width: 70%;
    /* max-height: 50px; */
}

/* 
.features {
    display: grid;
    grid-template-columns: 300px 300px; opcion1
    grid-template-columns: repeat(2, 300px); 
    En este caso, estamos definiendo 2 columnas, la primera con un ancho fijo de 500px y la segunda columna con el resto de espacio disponible en la pantalla. ¿Qué pasa si quisiéramos divisiones que ocupen el mismo espacio?
    grid-template-columns: 500px 1fr;
    obtener este mismo resultado pero en 1 line de codigo
   reto 3.1
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 660px;

    reto 3.2
    grid-template: repeat(2,1fr) / repeat(2, 330px);
} */

/* .features>* {
    background-color: aqua;
    margin: 10px;
    width: 40%;
    height: 50px;
} */

/* Sesion 4 */

.cards-section {
    background-color: #025157;
    display: grid;
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
    gap: 3em;
    padding: 10%;
    align-content: center;
}

.cards {
    background-color: #FFFFFF;
    border-radius: 10px;
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    display: flex;
}

.cards-text {
    align-self: center;
    padding: 30px 20px 40px 40px;
}

.cards-img {
    align-self: center;
    width: 50%;
}

.cards-icon {
    max-width: 15%;
}

.cards-imgs {
    height: 280px;
    bottom: 5px;
    left: 20px;
    position: relative;
}

/* Otra seccion */

.matcha-work {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5em;
    padding: 10%;
}

.matcha-work-container {
    grid-column: 1/5;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.matcha-work-container h1 {
    margin: 20px 10px;
    font-size: 36px;
    font-weight: 800;
    font-family: sans-serif;
    color: #025157;;
}

.matcha-work-container p {
    color: black;
    font-family: sans-serif;
}

.matcha-work-container button{
    margin: 30px;
}

.card-matcha {
    border: 1px solid gray;
    border-radius: 5px;
    width: 80%;
    min-height: 500px;
    max-height: 500px;
}

.card-matcha>* {
    font-family: sans-serif;
}

.matcha-img img {
    height: 300px;
}

.matcha-content {
    padding: 10px;
}

.matcha-content h1 {
    text-align: center;
    color: #025157;
    font-weight: 700;
}

.matcha-content p {
    margin: 30px 10px;
    color: black;
}

.publish {
    color: #67b54b;
    text-decoration: none;
    font-weight: 600;
}

/* Sesion 5 */

/** dispositivos móviles en vista viewport (vertical) */

@media (max-width: 575px) {
    .navbar, .actions{
        display: none;
    }

    .titulos{
        font-size: 30px;
        margin-top: 130px;
    }

    .banner > img{
        width: 100%;
    }

    .cards-section {
        display: grid;
        grid-template: repeat(1, 330px) / repeat(1, 1fr);
        overflow: hidden;
    }


}

/** dispositivos pequeños en vista landscape (horizontal) */

@media (min-width: 576px) and (max-width: 767px) {}

/** dispositivos medianos (tablets) */

@media (min-width: 768px) and (max-width: 991px) {}

/** dispositivos grandes (desktops) */

@media (min-width: 992px) and (max-width: 1199px) {}

/** dispositivos extra grandes (monitores grandes, tvs) */

@media (min-width: 1200px) {}